<header
  class="d-flex flex-wrap d-flex justify-content-between py-3 mb-4 border-bottom"
>
  <div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          [routerLink]="'doggos/start'"
          routerLinkActive="active"
          class="nav-link px-2 link-dark"
          >Home</a
        >
      </li>
      <li>
        <a
          [routerLink]="'doggos/add'"
          routerLinkActive="active"
          class="nav-link px-2 link-dark"
          >Add</a
        >
      </li>
      <li>
        <a
          [routerLink]="'doggos/my'"
          routerLinkActive="active"
          class="nav-link px-2 link-dark"
          >My Doggos</a
        >
      </li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>
  </div>
  <div>
    <button
      (click)="login()"
      type="button"
      class="btn btn-outline-primary me-2"
    >
      Login
    </button>
  </div>
</header>
