<footer class="py-3 my-4 border-top">
  <div class="d-flex flex-wrap justify-content-between">
    <div class="d-flex flex-column bd-highlight mb-3">
      <span class="mb-3 mb-md-0 text-muted">Backend: {{ backendUrl }} </span>
      <span class="mb-3 mb-md-0 text-muted"
        >RealTime: {{ realTimeConnection$ | async }}
      </span>
      <span class="mb-3 mb-md-0 text-muted"
        >&copy; 2022 Offering Solutions Software
      </span>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3">
      <span class="mb-3 mb-md-0 text-muted"
        >Running on platform "{{ (deviceInfo$ | async)?.platform }}"
      </span>
      <span
        class="mb-3 mb-md-0 text-muted"
        *ngIf="userEmail$ | async as userEmail"
        >LoggedIn as {{ userEmail }}
      </span>
    </div>
  </div>
</footer>
