<h2>Add new Doggo</h2>
<div
  *ngIf="lastAddedDoggo$ | async as lastAddedDoggo"
  class="alert alert-success mt-3"
  role="alert"
>
  Doggo added!
  <a
    [routerLink]="['/doggos']"
    [queryParams]="{ doggoId: lastAddedDoggo.id }"
    class="alert-link"
    >to {{ lastAddedDoggo.name }}</a
  >
</div>

<form [formGroup]="formGroup" (ngSubmit)="addDoggo()">
  <div class="mb-3">
    <label for="doggoname" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="doggoname"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <label for="doggobreed" class="form-label">Breed</label>
    <input
      type="text"
      class="form-control"
      id="doggobreed"
      formControlName="breed"
    />
  </div>
  <div class="mb-3">
    <label for="doggocomment" class="form-label">Comment</label>
    <input
      type="text"
      class="form-control"
      id="doggocomment"
      formControlName="comment"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
    Add Doggo
  </button>
</form>
